.op-player,
.op-player__audio,
.op-controls {
	background-color: transparent;
	padding: 0;
}

.op-controls button {
	padding: 0;
	&::before {
		width: 25px;
		height: 25px;

		margin: 0;
	}
}
.op-controls__progress {
	margin-left: 45px;
	margin-right: 45px;
}
.op-player {
	margin-bottom: 130px;
}
.op-controls-time {
	font-weight: 500;
	font-size: 18px;
}

.op-controls .op-controls__progress--played {
	color: var(--color-accent);
}
