<section class="about" id="about">
	<div class="container about__container">
		<h2 class="about__heading main-heading text-reset">About Disturbed</h2>
		<div class="about__columns">
			<div class="about__info">
				<p class="about__text main-text text-reset">
					Disturbed is an American heavy metal band from Chicago, formed in 1994.
					The band includes vocalist David Draiman, guitarist/keyboardist Dan
					Donegan, bassist John Moyer, and drummer Mike Wengren. Donegan and
					Wengren have been involved in the band since its inception, with Moyer
					replacing former bassist Steve "Fuzz" Kmak and Draiman replacing
					original lead vocalist Erich Awalt.
					The band has released seven studio albums, five of which have
					consecutively debuted at number one on the Billboard 200.
					Disturbed went into hiatus in October 2011, during which
					the band's members focused on various side projects, and
					returned in June 2015, releasing their first album in four years,
					Immortalized in August 2015. They also released two live albums,
					Music as a Weapon II in February 2004 and Disturbed: Live at Red
					Rocks in November 2016.
					Disturbed has sold over 17 million records worldwide, making
					them one of the most successful rock bands in the modern era
					alongside Slipknot and Godsmack, among others.
				</p>
				<ul class="about__list list-reset">
					<li class="about__item">
						Chicago, Illinois, U.S.
					</li>
					<li class="about__item">
						Heavy metal, hard rock
					</li>
					<li class="about__item">
						1994–2011 && 2015–present
					</li>
					<li class="about__item">
						Giant, Reprise, Warner, Intoxication
					</li>
				</ul>
			</div>
			<div class="about__images">
				<img src="img/about2.jpg" alt="Members of band	Dan Donegan Mike Wengren David Draiman John Moyer"
					class="about__image">
			</div>
		</div>

	</div>
</section>