<section class="hero" id="hero">
	<div class="hero__container container">
		<h1 class="hero__heading main-heading text-reset">
			New Single
			<span class="song">Warrior</span>
		</h1>

		<audio id="audio-hero" class="op-player__media" controls playsinline>
			<source src="resources/audio/Disturbed-Warrior.mp3" type="audio/mpeg">
			The audio tag is not supported by your browser.
			<a href="resources/audio/Disturbed-Warrior.mp3" download>Download a song</a>.
		</audio>

		<ul class="hero__list list-reset">
			<li class="hero__item hero-item">
				<img src="img/hero-1.webp" alt="Member of music band Disturbed" class="hero-item__image">
				<p class="hero-item__text text-reset">
					Disturbed are headlining Musikfest in Bethlehem, PA on August 10.
				</p>
				<a href="#" class="hero-item__link link-reset" aria-label="About upcoming album"></a>
			</li>
			<li class="hero__item hero-item">
				<img src="img/hero-2.jpg" alt="Member of music band Disturbed" class="hero-item__image">
				<p class="hero-item__text text-reset">
					Disturbed are performing at Blue Ridge Rock Festival in Alton, VA, September 8-11.
				</p>
				<a href="#" class="hero-item__link link-reset" aria-label="About upcoming album"></a>
			</li>
			<li class="hero__item hero-item">
				<img src="img/hero-3.webp" alt="Member of music band Disturbed" class="hero-item__image">
				<p class="hero-item__text text-reset">
					Disturbed are headlining Summerfest in Milwaukee, WI on June 30.
				</p>
				<a href="#" class="hero-item__link link-reset" aria-label="About upcoming album"></a>
			</li>
		</ul>


	</div>
</section>