<section class="news">
	<div class="container news__container">
		<figure class="news__figure">
			<blockquote class="news__quote text-reset" cite="https://www.huxley.net/bnw/four.html">
				<p class="news__text  main-text text-reset">“Nothing left but a broken man
					Terrified of everything
					Nothing left of his foolish pride, his
					Fond memories slowly die, then
					As he wakes again alone
					Still a prisoner in his home
					Ready to allow the dark to
					Penetrate his broken heart.”</p>
			</blockquote>
			<figcaption class="news__caption"><cite class="news__cite main-text  text-reset">Brave New World</cite>
			</figcaption>
		</figure>
		<div class="news__img">
			<img src="img/n1.jpg" alt="Disturbed members" class="news__image">

		</div>
	</div>
</section>