:root {
	--color-bg: #1c1b21;
	--color-font: #fff;
	--color-accent: #7A66CC;
}

$fz-text: 18px;
$fz-heading: 48px;

$ff: "Poppins", sans-serif;

$minWidth: 320;
$maxWidth: 1920px; // Разрешение макета
$maxWidthContainer: 1110px; // Разрешение контейнера

$md1: $maxWidthContainer + 15px; //desktop
$md2: 991.98px; // Tablet
$md3: 767.98px; // Mobile #1
$md4: 479.98px; // Mobile #2
