<header class="header fixed-padding" id="header">
	<div class="header__container container">
		<a class="header__logo link-reset">
			DISTURBed
		</a>
		<nav class="header__nav nav">
			<ul class="nav__list list-reset">
				<li class="nav__item">
					<a href="#" class="nav__link link-reset">About</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link link-reset">News</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link link-reset">Music</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link link-reset">Media</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link link-reset">Tours</a>
				</li>
				<li class="nav__item">
					<a href="#" class="nav__link link-reset">Contacts</a>
				</li>
			</ul>
		</nav>
		<button class="header__burger btn-reset burger" aria-label="Open navigation menu" aria-hidden="true">
			<span class="burger__middle-line"></span>
		</button>
	</div>
</header>